{% extends 'base.html' %}
{% block title %}Edit Tag{% endblock %}
{% block content %}
<h1>Edit a tag</h1>
<form method="POST" action="/tags/{{tag.id }}/edit">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <input 
            class="form-control"
            id="name"
            name="name"
            value="{{ tag.name }}"
        >
    </div>
      <div class="form-group row form-check">
    {% for post in posts %}
    <div>
      <input
              class="form-input"
              type="checkbox"
              value="{{ post.id }}"
              id="post_{{ post.id }}"
              name="posts"
              {% if post in tag.posts %}
              checked
              {% endif %}
      >
      <label class="form-check-label" for="post_{{ post.id }}">
        {{ post.title }}
      </label>
    </div>
    {% endfor %}
    <a href="/tags/{{tag.id}}" class="btn btn-info">
        Cancel
    </a>
    <button type="submit" class="btn btn-success">
        Edit
    </button>
  

    


<center>
   <a href="/" class="btn btn-link">Back to main page</a>
</center>

</form>

{% endblock %}
