{% extends 'base.html' %} 

{% block title %}Tags{% endblock %}

{% block content %}
<h1>Tags</h1>
{% if tags %}
<ul>
    {% for tag in tags %}
    <li>
        <a href="/tags/{{ tag.id }}">{{ tag.name }}</a>
    </li>
    {% endfor %}
</ul>
<!-- {% else %}
<p>Create your first tag</p>
{% endif%} -->
<!-- <a class="btn btn-sm btn-secondary" href="/tags/new">Add Tag</a> -->
<!-- <a class="badge badge-pill badge-primary" href="/tags/new">Add Tag</a> -->
<a href="/tags/new" class="btn btn-primary">Add Tag</a>
<center>
    <a href="/users" class="btn btn-link">Back to main page</a>
</center>
{%endblock%}
